[submodule "ThemeRMSUnderstand"]
	path = Azure-RMSDocs/Understand/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
[submodule "ThemeRMSGetStarted"]
	path = Azure-RMSDocs/GetStarted/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
[submodule "ThemeRMSDeployUse"]
	path = Azure-RMSDocs/DeployUse/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
[submodule "ThemeRMSPlanDesign"]
	path = Azure-RMSDocs/PlanDesign/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
[submodule "ThemeRMSTroubleshoot"]
	path = Azure-RMSDocs/Troubleshoot/_themes
	url = https://github.com/Microsoft/templates.docs.msft
	branch = master
